<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Main</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div>
    <div th:insert="fragments/nav :: nav"></div>
    <div class="container-fluid" style="padding-top: 5vh; display: flex; flex-direction: column; align-items: center;">
        <h3>Ученики и библиотекари</h3>
        <br>
        <form action="#" th:action="@{/admin/user/save}" th:object="${newUser}" method="post">
            <input type="hidden" th:field="*{id}">
            <table class="table text-center">
                <thead>
                <tr th:if="${error!=null}">
                    <th class="alert alert-danger" role="alert" th:text="${error}" colspan="7"></th>
                </tr>
                <tr>
                    <th scope="col"><label for="input_username">Логин</label></th>
                    <th scope="col"><label for="input_password">Пароль</label></th>
                    <th scope="col"><label for="input_matching_password">Подтвердите пароль</label></th>
                    <th scope="col"><label for="input_full_name">Полное имя</label></th>
                    <th scope="col"><label for="input_role">Выберите роль</label></th>
                    <th scope="col"><label for="input_school">Выберите школу</label></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input id="input_username" type="text" th:field="*{username}" required></td>
                    <td><input id="input_password" type="text" th:field="*{password}" required></td>
                    <td><input id="input_matching_password" type="text" th:field="*{matchingPassword}" required></td>
                    <td><input id="input_full_name" type="text" th:field="*{fullName}"></td>
                    <td>
                        <select id="input_role" th:field="*{role}">
                            <option value="" th:text="${newUser.role}"></option>
                            <option th:each="role : ${allRole}"
                                    th:value="${role.name()}"
                                    th:text="${role.name()}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <select id="input_school" th:field="*{schoolName}">
                            <option value="" th:text="${newUser.schoolName}"></option>
                            <option th:each="school : ${allSchoolName}"
                                    th:value="${school.schoolName}"
                                    th:text="${school.schoolName}">
                            </option>
                        </select>
                    </td>
                    <td>
                        <button class="btn btn-success" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                 class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
                            </svg>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

        </form>

        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Логин</th>
                <th scope="col">Полное имя</th>
                <th scope="col">Роль</th>
                <th scope="col">Школа</th>
                <th scope="col">Сколько раз брал книги</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,stat : ${allUsers}">
                <td th:text="${stat.count}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.fullName}"></td>
                <td th:text="${user.role}"></td>
                <td th:text="${user.schoolName}"></td>
                <td th:text="${user.countBookedBooksId}"></td>
                <td>
                    <button th:if="${!user.role.name().equals('ADMIN')}" class="btn btn-warning" type="button"
                            th:onclick="|window.location.href='/admin/user/update-${user.getId}'|">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </button>
                    <button th:if="${!user.role.name().equals('ADMIN')}" class="btn btn-danger" type="button"
                            th:onclick="|window.location.href='/admin/user/delete-${user.getId}'|">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-eraser" viewBox="0 0 16 16">
                            <path d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z"/>
                        </svg>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>