<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Админ</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body>
<div>
    <div th:insert="fragments/nav :: nav"></div>
    <div class="container-fluid" style="padding-top: 5vh; display: flex; flex-direction: column; align-items: center;">
        <h3>Админ панель</h3>
        <br>
        <div class="card-deck">
            <div class="card" style="width: 20rem;" >
                <div class="card-body text-center">
                    <h5 class="card-title">Школы</h5>
                    <p class="card-text" th:text="${'Общее количество: ' + school}"></p>
                    <a th:href="@{admin/school}" class="btn btn-primary">Смотреть</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;" >
                <div class="card-body text-center">
                    <h5 class="card-title">Ученики и</h5>
                    <h5 class="card-title">Библиотекари</h5>
                    <p class="card-text" th:text="${'Общее количество: ' + user}"></p>
                    <a th:href="@{admin/user}" class="btn btn-primary">Смотреть</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;" >
                <div class="card-body text-center">
                    <h5 class="card-title">Книги</h5>
                    <p class="card-text" th:text="${'Общее количество: ' + book}"></p>
                    <a th:href="@{admin/book}" class="btn btn-primary">Смотреть</a>
                </div>
            </div>
            <div class="card" style="width: 20rem;" >
                <div class="card-body text-center">
                    <h5 class="card-title">Книги на выдаче</h5>
                    <p class="card-text" th:text="${'Общее количество: ' + bookedBook}"></p>
                    <a th:href="@{admin/booked-book}" class="btn btn-primary">Смотреть</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

</body>
</html>